
@{
    ViewData["Title"] = "Index";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="index.html">Home</a></li>
            <li>Pricing</li>
        </ol>
        <h2>Pricing</h2>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="row no-gutters">
            @foreach (Plans plans in Model.Plans)
            {
                <div class="col-lg-4 box @(plans.IsFeature ? "featured" : "")">
                    <h3>@plans.Name</h3>
                    <h4>@plans.Price<span>per month</span></h4>
                    <ul>
                        @foreach (FeatureItems featureItems in Model.FeatureItems)
                        {
                        <li class="@(plans.PlansFeatureItems.Any(m => m.FeatureItemsId == featureItems.Id) ? "" : "na text-decoration-line-through")">
                            <i class="bx @(plans.PlansFeatureItems.Any(m => m.FeatureItemsId == featureItems.Id) ?"bx-check" : "bx-x")"></i> @featureItems.Name
                        </li>
                        }
                    </ul>
                    <a href="#" class="buy-btn">Buy Now</a>
                </div>
            }
        </div>

    </div>
</section><!-- End Pricing Section -->
